footer{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.msg{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.info{
    background-color:green;
    height: 80%;
    width: 50%;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;

}


.msg-nd-info{
    background-color: red;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.linkedin{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 40px;
}
img{
    height: 60px;
}
.email-input,.msg-input{
 width: 70%;
 border: none;
 border-radius: 20px;
 padding: 10px;
 margin-bottom: 20px;
}

.msg-input{
    height: 40%;
}
.contact-button{
    padding: 10px;
    border: none;
 border-radius: 20px;
 width: 10vmax;
 background-color: white;
 font-weight:500;

}
.copyright{margin-top: 10px;
}
